body {
  background-color: #f8f8f8;
  font-family: "helvetica neue", helvetica, sans-serif;
  font-size: 16px;
  overflow: hidden;
}

div#container {
	position:relative;	
	margin-left:-200px;
	width: 400px;
	height:500px;
	left:50%;
}


#lamp {
	position:relative;
	margin-left:-128px;
	left: 50%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 256px;
	height: 256px;
	-webkit-transition: all .2s linear;
}
.lamp-vermelha {
	background-image: url("assets/on_r.png");
}
.lamp-amarela {
	background-image: url("assets/on_y.png");
}
.lamp-verde {
	background-image: url("assets/on_g.png");
}
